extends layout
block vars
	- var title = "Topics"

block scripts
	script(type="text/javascript" src="../javascripts/jquery-2.1.1.min.js")
	script(type="text/javascript" src="../javascripts/app_main.js")

block content
	h1 Topic
	table(border='5')
		tr 
			th Name
			th Started By
			th Start Time
			th  End Time
		tr
			td #{name}
			td #{startedBy}
			td #{start_time}
			td #{end_time}
	br
	table
		tr
			td Description: #{description}
	br
	br
	input(type="hidden" value="#{topic_id}" id='hidden')
	input(id="loadComplete" type="button" value="Load Complete")
	br
	h5 COMMENTS
	#fiveComments
		each item in comments
			| #{item.comment}
			| #{item.entered_time}
			| #{item.user_name}
			br
		#newComment
	div
		input(id='addedComment' type='text' placeholder='Enter your comment' name='comment')
		input(type="hidden" value="#{topic_id}" id='hiddenTopicID')
		input(type="hidden" value="#{user_id}" id='hiddenUserID')
		button(id='sendComment' type='button' value='send') Send
