extends logged_page_layout
block vars
	- var title = "Topics"

block scripts
	script(type="text/javascript" src="../javascripts/jquery-2.1.1.min.js")
	script(type="text/javascript" src="../javascripts/app_main.js")

block content
	h1 Topic
	table(border='1')
		tr 
			th Name
			th Started By
			th Start Time
			th  End Time
		tr
			td #{name}
			td #{startedBy}
			td #{start_time}
			td #{end_time}
	br
	table
		tr
			td
				b Description: 
				| #{description}
	br
	input(id="options_btn" name="options_btn" type="button" value="#{button}")
	br
	br
	input(type="hidden" value="#{topic_id}" id='hidden')
	input(id="loadComplete" type="button" value="Load Complete")
	br
	br
	hr
	h4 COMMENTS
	#fiveComments
		each item in comments
			| COMMENT : #{item.comment}
			br
			| TIME : #{item.entered_time}
			br
			| USER : #{item.user_name}
			br
			br
		#newComment
	div
		input(id='addedComment' type='textbox' placeholder='Enter your comment' name='comment')
		input(type="hidden" value="#{topic_id}" id='hiddenTopicID')
		input(type="hidden" value="#{owner_id}" id='hiddenOwnerID')
		input(type="hidden" value="#{end_time}" id='hiddenEndTime')
		input(type="hidden" value="#{user_id}" id='hiddenUserID')
		button(id='sendComment' type='button' value='send') Send
